In [ ]:
import pandas as pd
import string
import csv

In [ ]:
# Downloading datasets
!rm -rf t*
!wget https://raw.githubusercontent.com/SreeBhagya-S/Synthetic-Manglish-Corpus/main/Datasets/amazon_fullReviews.csv
!wget https://raw.githubusercontent.com/SreeBhagya-S/Synthetic-Manglish-Corpus/main/Datasets/amazon_cm_token.csv

--2022-12-21 05:36:09--  https://raw.githubusercontent.com/SreeBhagya-S/Synthetic-Manglish-Corpus/main/amazon_fullReviews.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 44354977 (42M) [text/plain]
Saving to: ‘amazon_fullReviews.csv’

amazon_fullReviews. 100%[===================>]  42.30M   236MB/s    in 0.2s

2022-12-21 05:36:11 (236 MB/s) - ‘amazon_fullReviews.csv’ saved [44354977/44354977]

In [ ]:
df_reviews = pd.read_csv('/content/amazon_fullReviews.csv',  sep=',')
df_reviews

,english_reviews,malayalam_reviews,cm_reviews,transliterated_cm_reviews,Unnamed: 4,Unnamed: 5
0,This product so far has not disappointed. My c...,ഈ ഉൽപ്പന്നം ഇതുവരെ നിരാശപ്പെടുത്തിയിട്ടില്ല. എ...,and product ഇതുവരെ നിരാശപ്പെടുത്തിയിട്ടില്ല...,and product ituvare nirashappetuttiyittilla...,NaN,NaN
1,great for beginner or experienced person. Boug...,തുടക്കക്കാരനോ പരിചയസമ്പന്നനോ ആയ വ്യക്തിക്ക് മി...,beginner experienced or person മികച്ചത്. ...,beginner experienced or person mikachchat....,NaN,NaN
2,Inexpensive tablet for him to use and learn on...,അയാൾക്ക് ഉപയോഗിക്കാനും പഠിക്കാനുമുള്ള ചെലവുകുറ...,അയാൾക്ക് ഉപയോഗിക്കാനും പഠിക്കാനുമുള്ള inexpe...,ayalkk upayogikkanum pathikkanumulla inexpen...,NaN,NaN
3,I've had my Fire HD 8 two weeks now and I love...,"എന്റെ ഫയർ എച്ച്‌ഡി 8 ഇപ്പോൾ രണ്ടാഴ്‌ചയുണ്ട്, എ...",എന്റെ ipad എച്ച്ഡി 8 ഇപ്പോൾ രണ്ടാഴ്ചയുണ്ട...,ente ipad echchdi 8 ippol rantazhchayunt ...,NaN,NaN
4,I bought this for my grand daughter when she c...,എന്റെ കൊച്ചുമകൾ സന്ദർശിക്കാൻ വരുമ്പോൾ ഞാൻ ഇത് ...,എന്റെ daughter സന്ദർശിക്കാൻ വരുമ്പോൾ ഞാൻ ...,ente daughter sandarshikkan varumpol njan ...,NaN,NaN
...,...,...,...,...,...,...
34654,This is not appreciably faster than any other ...,"എന്റെ കിൻഡിൽ, കിൻഡിൽ ഫയർ, കിൻഡിൽ ഫയർ എച്ച്‌ഡി,...",എന്റെ kindle കിൻഡിൽ fire കിൻഡിൽ ഫയർ hd ...,ente kindle kindil fire kindil phayar hd...,NaN,NaN
34655,Amazon should include this charger with the Ki...,കിൻഡിലിനൊപ്പം ആമസോൺ ഈ ചാർജർ ഉൾപ്പെടുത്തണം. ഉൾപ...,കിൻഡിലിനൊപ്പം amazon. ഈ ചാർജർ ഉൾപ്പെടുത്തണം....,kindilinoppam amazon. i charjar ulppetuttana...,NaN,NaN
34656,Love my Kindle Fire but I am really disappoint...,"എന്റെ കിൻഡിൽ ഫയർ ഇഷ്ടപ്പെടുന്നു, പക്ഷേ കിൻഡിൽ ...",എന്റെ kindle fire ഇഷ്ടപ്പെടുന്നു but കിൻഡ...,ente kindle fire ishtappetunnu but kindil...,NaN,NaN
34657,I was surprised to find it did not come with a...,ഒരു തരത്തിലുള്ള ചാർജിംഗ് കോഡുകളുമായും ഇത് വന്ന...,and type ചാർജിംഗ് കോഡുകളുമായും ഇത് വന്നിട...,and type charjimg kodukalumayum it vannit...,NaN,NaN
34658,to spite the fact that i have nothing but good...,ആമസോണിനെ കുറിച്ചും ആന്തിംഗിനെ കുറിച്ചും എനിക്ക...,ആമസോണിനെ കുറിച്ചും ആന്തിംഗിനെ കുറിച്ചും എന...,amasonine kurichchum antimgine kurichchum ...,NaN,NaN

In [ ]:
df_tokens= pd.read_csv('/content/amazon_cm_token.csv',  sep=',')
df_tokens

,u,eng_tokens,mal_tokens,cm_tokens
0,0,"'this', 'product', 'so', 'far', 'has', 'not', ...","'ഈ', 'ഉൽപ്പന്നം', 'ഇതുവരെ', 'നിരാശപ്പെടുത്തിയി...","["" 'and'"", "" 'product'"", "" 'ഇതുവരെ'"", "" 'നിരാശ..."
1,1,"'great', 'for', 'beginner', 'or', 'experienced...","'തുടക്കക്കാരനോ', 'പരിചയസമ്പന്നനോ', 'ആയ', 'വ്യക...","["" 'beginner'"", "" 'experienced'"", "" 'or'"", "" '..."
2,2,"'inexpensive', 'tablet', 'for', 'him', 'to', '...","'അയാൾക്ക്', 'ഉപയോഗിക്കാനും', 'പഠിക്കാനുമുള്ള',...","[""'അയാൾക്ക്'"", "" 'ഉപയോഗിക്കാനും'"", "" 'പഠിക്കാന..."
3,3,"'ive', 'had', 'my', 'fire', 'hd', '8', 'two', ...","'എന്റെ', 'ഫയർ', 'എച്ച്ഡി', '8', 'ഇപ്പോൾ', 'രണ്...","[""'എന്റെ'"", "" 'ipad'"", "" 'എച്ച്ഡി'"", "" '8'"", ""..."
4,4,"'i', 'bought', 'this', 'for', 'my', 'grand', '...","'എന്റെ', 'കൊച്ചുമകൾ', 'സന്ദർശിക്കാൻ', 'വരുമ്പോ...","[""'എന്റെ'"", "" 'daughter'"", "" 'സന്ദർശിക്കാൻ'"", ..."
...,...,...,...,...
34654,34654,"'this', 'is', 'not', 'appreciably', 'faster', ...","'എന്റെ', 'കിൻഡിൽ', 'കിൻഡിൽ', 'ഫയർ', 'കിൻഡിൽ', ...","[""'എന്റെ'"", "" 'kindle'"", "" 'കിൻഡിൽ'"", "" 'fire'..."
34655,34655,"'amazon', 'should', 'include', 'this', 'charge...","'കിൻഡിലിനൊപ്പം', 'ആമസോൺ', 'ഈ', 'ചാർജർ', 'ഉൾപ്പ...","[""'കിൻഡിലിനൊപ്പം'"", ""'amazon'"", "" 'ഈ'"", "" 'ചാർ..."
34656,34656,"'love', 'my', 'kindle', 'fire', 'but', 'i', 'a...","'എന്റെ', 'കിൻഡിൽ', 'ഫയർ', 'ഇഷ്ടപ്പെടുന്നു', 'പ...","[""'എന്റെ'"", "" 'kindle'"", "" 'fire'"", "" 'ഇഷ്ടപ്പ..."
34657,34657,"'i', 'was', 'surprised', 'to', 'find', 'it', '...","'ഒരു', 'തരത്തിലുള്ള', 'ചാർജിംഗ്', 'കോഡുകളുമായു...","["" 'and'"", "" 'type'"", "" 'ചാർജിംഗ്'"", "" 'കോഡുകള..."
34658,34658,"'to', 'spite', 'the', 'fact', 'that', 'i', 'ha...","'ആമസോണിനെ', 'കുറിച്ചും', 'ആന്തിംഗിനെ', 'കുറിച്...","[""'ആമസോണിനെ'"", "" 'കുറിച്ചും'"", "" 'ആന്തിംഗിനെ'""..."

In [ ]:
!pip install indic-nlp-library

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting indic-nlp-library
  Downloading indic_nlp_library-0.81-py3-none-any.whl (40 kB)
     |████████████████████████████████| 40 kB 4.3 MB/s
Collecting sphinx-argparse
  Downloading sphinx_argparse-0.4.0-py3-none-any.whl (12 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from indic-nlp-library) (1.3.5)
Collecting morfessor
  Downloading Morfessor-2.0.6-py3-none-any.whl (35 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from indic-nlp-library) (1.21.6)
Collecting sphinx-rtd-theme
  Downloading sphinx_rtd_theme-1.1.1-py2.py3-none-any.whl (2.8 MB)
     |████████████████████████████████| 2.8 MB 15.3 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->indic-nlp-library) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->indic-nlp-library) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->indic-nlp-library) (1.15.0)
Requirement already satisfied: sphinx>=1.2.0 in /usr/local/lib/python3.8/dist-packages (from sphinx-argparse->indic-nlp-library) (1.8.6)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (21.3)
Requirement already satisfied: sphinxcontrib-websupport in /usr/local/lib/python3.8/dist-packages (from sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (1.2.4)
Requirement already satisfied: alabaster<0.8,>=0.7 in /usr/local/lib/python3.8/dist-packages (from sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (0.7.12)
Requirement already satisfied: babel!=2.0,>=1.3 in /usr/local/lib/python3.8/dist-packages (from sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (2.11.0)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (2.23.0)
Requirement already satisfied: Jinja2>=2.3 in /usr/local/lib/python3.8/dist-packages (from sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (2.11.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (57.4.0)
Requirement already satisfied: docutils<0.18,>=0.11 in /usr/local/lib/python3.8/dist-packages (from sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (0.17.1)
Requirement already satisfied: snowballstemmer>=1.1 in /usr/local/lib/python3.8/dist-packages (from sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (2.2.0)
Requirement already satisfied: imagesize in /usr/local/lib/python3.8/dist-packages (from sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (1.4.1)
Requirement already satisfied: Pygments>=2.0 in /usr/local/lib/python3.8/dist-packages (from sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (2.6.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from Jinja2>=2.3->sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (2.0.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.0.0->sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.0.0->sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.0.0->sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (2022.12.7)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.0.0->sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (1.24.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (3.0.9)
Requirement already satisfied: sphinxcontrib-serializinghtml in /usr/local/lib/python3.8/dist-packages (from sphinxcontrib-websupport->sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (1.1.5)
Installing collected packages: sphinx-rtd-theme, sphinx-argparse, morfessor, indic-nlp-library
Successfully installed indic-nlp-library-0.81 morfessor-2.0.6 sphinx-argparse-0.4.0 sphinx-rtd-theme-1.1.1

In [ ]:
from indicnlp.tokenize import indic_tokenize  
from indicnlp.normalize.indic_normalize import IndicNormalizerFactory
import warnings

In [ ]:
def e_tokenize(es):
  es=es.lower()
  es= es.translate(str.maketrans('', '', string.punctuation))
  e_token=[]
  #indic_string=clean_text(text)
 
  for t in indic_tokenize.trivial_tokenize(es): 
    #print(t)
    #e_token=en_tokens.split(',')
    e_token.append(t)
    #df_e_tokens.loc[len(df_e_tokens)] = e_token
  return e_token

def m_tokenize(ms):
  input_text = ms.translate(str.maketrans('', '', string.punctuation))
  factory=IndicNormalizerFactory()
  normalizer=factory.get_normalizer("ml",remove_nuktas=True)
  output_text=normalizer.normalize(input_text)
  m_token=[]
  for t in indic_tokenize.trivial_tokenize(output_text): 
    m_token.append(t)
  return(m_token)

def cmtoken_clean(words):
  step1 = words.replace("`", "")
  step2 = step1.replace('"', '')
  step3 = step2.replace('" ','')
  step4 = step3.replace(',  ',',')
  return step3.strip()

def t_tokenize(ts):
  ts=ts.lower()
  ts= ts.translate(str.maketrans('', '', string.punctuation))
  t_token=[]
  #indic_string=clean_text(text)
 
  for t in indic_tokenize.trivial_tokenize(ts): 
    #print(t)
    #e_token=en_tokens.split(',')
    t_token.append(t)
  return t_token

In [ ]:
refs = []
for i in range(len(df_reviews)):
  row=df_reviews.english_reviews[i]
  refs.append(e_tokenize(row))


mal = []
for i in range(len(df_reviews)):
  row=df_reviews.malayalam_reviews[i]
  mal.append(m_tokenize(row))

cm = []
for i in range(len(df_reviews.cm_reviews)):
  row=df_reviews.cm_reviews[i]
  cm.append(t_tokenize(row))

trans = []
for i in range(len(df_reviews.transliterated_cm_reviews)):
  row=df_reviews.transliterated_cm_reviews[i]
  trans.append(t_tokenize(row))

METEOR stands for The Metric for Evaluation of Translation with Explicit ORdering. It was introduced in this paper. It can be used to evaluate output across various spectrums of tasks like Machine Translation, Text Summarization, Image Captioning, etc. 
It comes with some obvious goodness compared to the BLEU metric (a popular one when it comes to evaluating o/p from Machine Translation systems) that focuses on majorly capturing the precision aspect of the generation against the ground truth. METEOR on the other hand is based on the idea of calculating the Harmonic mean of the unigram precision and recall, where recall is given more weight over precision. Giving greater weight to recall allows us to understand more about how much of the ground truth have we produced as a part of output during the generation process.

In [ ]:
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [ ]:
from nltk.translate import meteor

def calculate_meteor(candidate, reference):
  '''
  candidate, reference: tokenized list of words in the sentence
  '''
  reference = reference
  candidate = candidate
  meteor_score = round(meteor([candidate],reference), 4)
  return meteor_score

In [ ]:
candidate=trans[34049]
reference=refs[34049]
meteor_score=calculate_meteor(candidate, reference)
meteor_score

0.5078

In [ ]:
meteor_scores=[]
for i in range(0,len(df_reviews)):
  print("\n***************************************** In Row ",i," ************************************************************\n")
  ts=0.6+(i*0.01)
  candidate=trans[i]
  reference=refs[i]
  meteor_score=calculate_meteor(candidate, reference)
  print(meteor_score)
  meteor_scores+= [meteor_score]

In [ ]:
meteor_scores_eng_mal=[]
for i in range(0,len(df_reviews)):
  #print("\n***************************************** In Row ",i," ************************************************************\n")
  ts=0.6+(i*0.01)
  candidate=mal[i]
  reference=refs[i]
  meteor_score=calculate_meteor(candidate, reference)
  #print(meteor_score)
  meteor_scores_eng_mal+= [meteor_score]

In [ ]:
meteor_scores_eng_cm=[]
for i in range(0,len(df_reviews)):
  #print("\n***************************************** In Row ",i," ************************************************************\n")
  ts=0.6+(i*0.01)
  candidate=cm[i]
  reference=refs[i]
  meteor_score=calculate_meteor(candidate, reference)
  #print(meteor_score)
  meteor_scores_eng_cm+= [meteor_score]

In [ ]:
meteor_scores_mal_cm=[]
for i in range(0,len(df_reviews)):
  #print("\n***************************************** In Row ",i," ************************************************************\n")
  ts=0.6+(i*0.01)
  candidate=cm[i]
  reference=mal[i]
  meteor_score=calculate_meteor(candidate, reference)
  #print(meteor_score)
  meteor_scores_mal_cm+= [meteor_score]

In [ ]:
meteor_scores_mal_trans=[]
for i in range(0,len(df_reviews)):
  #print("\n***************************************** In Row ",i," ************************************************************\n")
  ts=0.6+(i*0.01)
  candidate=trans[i]
  reference=mal[i]
  meteor_score=calculate_meteor(candidate, reference)
  #print(meteor_score)
  meteor_scores_mal_trans+= [meteor_score]

In [ ]:
with open('/content/meteor_scores.csv', 'w') as file:
   pass 
print("Empty File Created Successfully")

Empty File Created Successfully

In [ ]:
import pandas as pd
import numpy as np

a = np.array(meteor_scores_eng_cm)
b = np.array(meteor_scores_eng_mal)
c=np.array(meteor_scores)
d=np.array(meteor_scores_mal_cm)
e=np.array(meteor_scores_mal_trans)
df = pd.DataFrame({"meteor_scores_eng_cm" : a, "meteor_scores_eng_mal" : b,"meteor_scores_eng_trans":c,"meteor_scores_mal_cm":d,"meteor_scores_mal_trans":e})
df.to_csv("meteor_scores.csv", index=False)